<component name="libraryTable">
  <library name="mybatis-3.2.7 (3)">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/proj_myBatis_1010_test/src/lib/mybatis-3.2.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/proj_myBatis_1010_test/src/lib/mysql-connector-java-5.1.7-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>